<!-- @format -->

{% extends 'user/base.html' %} {% block sign_in %}

<form action="{% url 'sign_in' %}" method="POST" class="signIn-container">
  {% csrf_token %} {% if messages %} {% for message in messages %}
  <p style="color: red; font-size: 12px; display: block">{{message}}</p>
  {% endfor %} {% endif %}
  <h3>Welcome!</h3>
  <div class="container-3">
    <input type="text" name="username" placeholder="Username:" required />
    <input type="password" name="password" placeholder="Password:" required />
  </div>
  <button type="submit">Sign in</button>
</form>

{% endblock %}
