{% extends 'feed/base.html' %} {% block home %} {% include 'feed/navbar.html' %}
{% load static %}
<main>
  <div class="grid-container">
    <div class="grid-item left">
      <ul>
        <li>
          <a href="{% url 'home' %}" style="text-decoration: underline"
            ><span><i class="fa fa-home"></i>Home</span></a
          >
        </li>
        <li>
          <a href="{% url 'profile' %}"
            ><span><i class="fa fa-user"></i>Profile</span></a
          >
        </li>
        <li>
          <a href=""
            ><span><i class="fa fa-gear"></i>Settings</span></a
          >
        </li>
      </ul>
    </div>
    <div class="grid-item center">
      <div class="scrollable-content">
        {% for post in posts %}
        <div class="post-container">
          <div class="info-container">
            {% if post.user.profile.profile_link %}
            <img
              src="{{post.user.profile.profile_link}}"
              alt=""
              srcset=""
              class="user-profile"
            />
            {% else %}
            <img
              src="{% static 'image/default-profile-icon.jpg' %}"
              alt=""
              srcset=""
              class="user-profile"
            />
            {% endif %}
            <p class="user-name">{{post.user}}</p>
          </div>
          <p style="color: var(--white)">{{post.caption}}</p>
          <div class="img-content">
            <img
              src="{{post.image_link}}"
              alt="content"
              srcset=""
              class="post-content"
            />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="grid-item right">
      <a href="{% url 'add_post' %}">
        <span> <i class="fa fa-plus"></i></span>
      </a>
    </div>
  </div>
</main>
{% endblock %}
